
.tese{
  margin-top: 10px;
}
.navbarheight{
  height: 100px;
  ul{
    li{
      a{
        line-height: 65px;
      }
    }
  }
}
.footer{
  height: 300px;
  background: #f1f1f1;
}
.neirongjingxin{
  .neirongtitle{
    color: deepskyblue;
    .title{
      font-size: 22px;
      border-bottom: 1px solid deepskyblue;
    }
  }
}
.btn-default{
  background: red;
  color: #fff;
}
.news {
  .newsneirongtitle {
    color: deepskyblue;
    .newstitle {
      font-size: 22px;
      border-bottom: 1px solid deepskyblue;
    }
  }
  .newsliebiao{
    display: flex;
    justify-content: space-between;
  }
}
