
.tese{
  margin-top: 10px;
}
.navbarheight{
  height: 100px;
  background: #f0ad4e;
  ul{
    li{
      a{
        line-height: 65px;
        &:hover{
          background: #ccc !important;
      }
      }
    }
  }
}
.footer{
  height: 300px;
  background: #f0ad4e;
}
.neirongjingxin{
  .neirongtitle{
    color: #f0ad4e;
    .title{
      font-size: 22px;
      border-bottom: 1px solid #f0ad4e;
    }
  }
}
.btn-default{
  background: red;
  color: #fff;
}
.news {
  .newsneirongtitle {
    color: #f0ad4e;
    .newstitle {
      font-size: 22px;
      border-bottom: 1px solid #f0ad4e;
    }
  }
  .newsliebiao{
    display: flex;
    justify-content: space-between;
  }
}
